@import-normalize;

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}
#root {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #1f1f1f;
}
.app {
  background-color: #eeeeee;
  min-height: 100vh;
}

.search-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  overflow: hidden;
}

.search-input-form {
  display: flex;
  width: 100%;
  max-width: 700px;
  height: 70px;
  padding: 30px 20px;
}
.search-series-input {
  color: #333333;
  font-size: 20px;
  font-weight: 600;
  flex: 1;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: solid 0.1em #eeeeee;
  text-align: center;
}

.search-button {
  width: 100px;
  background-color: #bbbbbb;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: solid 0.1em #bbbbbb;
  margin-left: 5px;
  font-size: 20px;
  cursor: pointer;
}

.series-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.series-list-image {
  max-width: 400px;
  width: 100%;
  max-height: 450px;
  height: 100%;
  flex: 1;
}

.back-button-span{
  cursor: pointer;
}

.shows {
  display: flex;
  flex-direction: column-reverse;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border-radius: 2.5%;
  margin: 10px;
  width: 320px;
  height: 480px;
  border: solid 0.1em #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: transform .2s;
}

.shows:hover {
  transform: scale(1.05);
}

.shows-info {
  padding: 20px;
  min-height: 120px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.flex-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  overflow: hidden;
}

.cast {
  margin-bottom: 5%;
}

.main-stars-image-container {
  padding-right: 5%;
}
.title-rating {
  padding: 0 10%;
  background: #444444;
  justify-content: space-between;
}
.ratings-container {
  display: flex;
  flex-flow: row wrap
}

.icons {
  padding-right: 5%;
  width: 24px;
  height: 24px;
}

.description-ratings {
  padding: 0 10%;
  background: #444444;
  justify-content: space-between;
}

.show-heading {
  color: whitesmoke;
}
.heading-one {
  font-size: 3em !important;
  font-weight: 400;
}

.heading-two {
  font-size: 1.5em !important;
  font-weight: 400;
}

.main-star-heading {
  color: #1f1f1f !important;
}
.labelike-span {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  font-size: 1em;
  font-weight: 200;
  color: whitesmoke;
  padding-right: 7px;
}

.show-type {
  background: #999999;
  justify-content: flex-start;
  padding: 0 10%;
}

.show-plot {
  padding: 0 10%;
  background: #1f1f1f;
  justify-content: flex-start;
  flex-direction: column;
}
.plot-heading {
  color: whitesmoke;
  font-size: 1.9em;
  font-weight: bold;
}
.plot-paragraph {
  color: whitesmoke;
  border-bottom: solid 0.1em whitesmoke;
  font-size: 1.5em;
  padding: 0;
  margin: 0 0 10px;
  line-height: 2.4;
}
.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10%;
  background: #eeeeee;
}
.flex-info-wrapper {
  flex: 1;
  padding-right: 10px;
}
.info-container {
  flex: 1;
  max-width: 450px;
  min-width: 320px;
}

.info-container p {
  padding: 0;
}

.cast-wrapper {
  margin-bottom: 20px;
  background: white;
}

.mainStar-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 10px 5px;
}
.mainStar-infoSpan {
  line-height: 5px;
  min-width: 280px;
}

.main-image-container {
  flex: 1;
  min-width: 320px;
}
.main-list-image {
  max-width: 100%;
  height: auto;
}

.show-genres-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.show-genre {
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  background-color: #999999;
  color: whitesmoke;
  font-weight: 400;
}

.main-description-span {
  display: inline-block;
  margin-top: 5%;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  color: #222222;
  line-height: 150%;
}

.search-button:hover {
  background-color: #719ece;
}

.search-button:active {
  box-shadow: inset -2px -2px 3px #719ece, inset 2px 2px 3px #bbbbbb;
}

input:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}

p {
  line-height: 1.4;
}

a {
  outline: none;
  text-decoration: none;
}

a:link {
  color: #90342b;
}

a:visited {
  color: #437a16;
}

a:focus {
  background: #bae498;
}


a:active {
  background: #265301;
  color: #cdfeaa;
}

.navbar {
  background: #1f1f1f;
  padding: 10px 10%;
}

footer {
  width: 100%;
  height: 100px;
  background: black;
  color: goldenrod;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}
